version: "3"
services:
  app:
    build:
      context: .
      target: dev
    volumes:
      - .:/app:cached
    ports:
      - "3000:3000"
    links:
      - db
    depends_on:
      - db
    command: |
      npm run start
    environment:
      DB_HOST: db
      DB_NAME: sample
      DB_USER: sample
      DB_PASS: sample
  db:
    image: mysql:8.0
    platform: linux/x86_64
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: sample
      MYSQL_USER: sample
      MYSQL_PASSWORD: sample
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - sample-mysql:/var/lib/mysql
    ports:
      - "3306:3306"
volumes:
  sample-mysql: